@charset "UTF-8";

.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt60{margin-top: 60px !important;}
.mt70{margin-top: 70px !important;}
.mt80{margin-top: 80px !important;}
.mt90{margin-top: 90px !important;}
.mt100{margin-top: 100px !important;}

.pt10{padding-top: 10px !important;}
.pt15{padding-top: 15px !important;}
.pt20{padding-top: 20px !important;}
.pt25{padding-top: 25px !important;}
.pt30{padding-top: 30px !important;}
.pt35{padding-top: 35px !important;}
.pt40{padding-top: 40px !important;}
.pt45{padding-top: 45px !important;}
.pt50{padding-top: 50px !important;}
.pt55{padding-top: 55px !important;}
.pt60{padding-top: 60px !important;}
.pt65{padding-top: 65px !important;}
.pt70{padding-top: 70px !important;}
.pt75{padding-top: 75px !important;}
.pt80{padding-top: 80px !important;}
.pt85{padding-top: 85px !important;}
.pt90{padding-top: 90px !important;}
.pt95{padding-top: 95px !important;}
.pt100{margin-top: 100px !important;}
.pt105{margin-top: 105px !important;}
