@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');
*{margin:0;padding:0;}
li{list-style-type:none;}
i{color: #fff;}
a{text-decoration: none; color:#fff; font-size:15px; font-family: 'Noto Sans', sans-serif;}
img{width: 100%;}
label, span{display: inline-block;}
button{border: 0; background: none; outline: none; cursor: pointer;}
body{font-family: 'Noto Sans', sans-serif;}
.skip{font-size: 0; text-indent: -9999px; position: absolute; left: -9999px;}
.center{width: 100%; margin: auto; position: relative;}
.button-wrap span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-wrap span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-wrap:hover span {
  padding-right: 25px;
}
.button-wrap:hover span:after {
  opacity: 1;
  right: 0;
}
.popup_background{
  width: 100%;
  height: 100%;
  background: #383838a6;
  position: fixed;
  z-index: 2;
  top: 0px;
  display: none;
}

/* intro =====================================*/
#intro{
  background: #000;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#intro .wrap-left{
  height: 100vh;
  float: left;
  width: 200px;
  border-right: 1px solid #333333;
  text-align: left;
  left: 0;
  top: 0;
  text-align: center;

}
#intro .wrap-right{
  height: 100vh;
  top: 0;
  left: -200px;
  float: right;
  text-align: right;
}
#intro .wrap-left,
#intro .wrap-right{
  position: relative;
  display: block;
  overflow: hidden;
  transform: rotate(25deg) translateY(-230px);
  width: 50%;
  box-sizing: border-box;
  transition: all 200ms ease-in 100ms;
}
#intro .wrap-left .rot,
#intro .wrap-right .rot{
  position: relative;
  line-height: 780px;
  display: block;
  transform: rotate(-25deg);
  margin-top: 300px;
}
#intro .wrap-left a{
  display: block;
  font-size: 4em;
}
#intro .wrap-right a{
  display: block;
  font-size: 4em;
  margin-top: 80px;
  margin-right: 90px;
}
#intro .up {
  top: 500px;
  left: -300px;
}
#intro .down {
  top: -500px;
  left: 300px;
}

/* header ==============================================*/
header{
  position: relative;
  width: 100%; height: 150px; background: #000;
  border-top: 1px solid #fff; border-bottom: 1px solid #fff;
}
header.fixed{
  position: fixed;
  z-index: 3;
  top: 0;
}
header h1{width: 330px; margin-left: 50px;}
header h1 img{width: 100%; margin-top: 30px;}

/* 메뉴 네비게이션 */
#mainNav{
  /* position: relative;
  height: 64px; */
}
.m-list{
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.m-list__item{
  float: left;
  padding-right: 50px;
}
.m-list__item:nth-child(1){padding-left: 50px;}
.m-list__item > a{display: inline-block; line-height: 40px; border-bottom: 5px solid #000;}
.m-list__item:hover > a{color: #f8aa1c; border-bottom: 5px solid #f8aa1c; transition: 0.5s;}

.down-nav{
  display: none;
  position: absolute;
  left: 0; top: 46px;
  background: #000;
  width: 100%;
  height: 600px;
  z-index: 11;
  padding: 50px;
  box-sizing: border-box;
}
.down-nav .nav-wrap{

}
.down-nav .nav-wrap h3{
  color: #fff;
  text-align: center;
  font-size: 25px;
}

/* line */
.down-nav .nav-wrap .nav-wrap-box{
  padding: 0 20px;
  border-left: 1px solid #fff3;
  height: 440px;
}
.down-nav .nav-wrap > div:first-child .nav-wrap-box{
  border-left: 0;
}
/* /line */

.down-nav .nav-wrap .nav-wrap-box ul{margin-top: 40px;}
.down-nav .nav-wrap .nav-wrap-box ul li{
  position: relative;
  padding-bottom: 25px;
}
.down-nav .nav-wrap .nav-wrap-box ul li i{
  position: absolute;
}
.down-nav .nav-wrap .nav-wrap-box ul li a{
  display: inline-block;
  padding-left: 34px;
}
.down-nav .nav-wrap .nav-wrap-box ul li:hover i,
.down-nav .nav-wrap .nav-wrap-box ul li:hover a{
  color: #f8aa1c;
}

/* nav-item-wrap-pull */
.down-nav .nav-item-wrap-pull{
  width: 700px;
  height: 500px;
  border: 2px solid #f8aa1c;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  /* float: right;
  margin-right: 20px; */
  margin: 0 auto;
  overflow: hidden;
}
.down-nav .nav-item-wrap-pull .item_img{
  height: 358px;
  overflow: hidden;
}
.down-nav .nav-item-wrap-pull a{
  color: #fff;
  text-align: center; font-size: 1.0em;
  margin-top: 30px;
  display: block;
}
.down-nav .nav-item-wrap-pull a strong{
  display: block;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.down-nav .nav-item-box{
  width: 100%;
  height: 500px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
}
.down-nav .nav-item-wrap-small{
  width: 330px;
  border: 2px solid #f8aa1c;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 50px;
  overflow: hidden;
}
.down-nav .nav-item-wrap-small .item_img{
  overflow: hidden;
  height: 330px;
}
.down-nav .nav-item-wrap-small a{
  color: #fff;
  text-align: center;
  font-size: 0.9em;
  margin-top: 20px;
  display: block;
}
.down-nav .nav-item-wrap-small a strong{
  display: block;
  font-size: 1.2em;
  margin-bottom: 15px;
}
.down-nav .nav-item-wrap-small button{
  width: 140px;
  height: 40px;
  color: #000;
  background: #f8aa1c;
  font-size: 0.9em;
  font-weight: 700;
  display: block;
  margin: 20px auto;
}

/* 오른쪽 아이콘 */
.icon-nav{
  position: absolute;
  bottom: 16px;
  right: 50px;
}
.icon-nav li{
  float: left;
  padding: 0 5px;
  height: 21px;
}
.icon-nav li a{display: inline-block;}
.icon-nav li a i{
  font-size: 1.5em;
}
.icon-nav li:last-child i{
  vertical-align: top;
  display: inline-block;
}
.icon-nav li:last-child a{
  padding-top: 0;
  font-size: 20px;
  line-height: 22px;
  vertical-align: top;
}

.language-nav{
  display: none;
  width: 100%;
  height: 500px;
  position: relative;
  top: 64px;
  background: #000;
  z-index: 3;
}
.language-nav::after{
  content: '';
  background: #000000b5;
  width: 100%;
  height: 100vh;
}
.language-nav .language-nav-wrap{}
.language-nav .language-nav-wrap > button{
  position: absolute;
  right: 70px;
  top: 40px;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box{
  width: 1820px;
  height: 400px;
  margin: 0 auto;
  padding-top: 60px;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box span{
  color: #fff;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box h3{
  color: #fff;
  display: block;
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box h3::after{
  content: '';
  display: block;
  width: 260px;
  border-bottom: 3px solid #fff;
  margin: 0 auto;
  padding-top: 10px;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box ul{
  line-height: 40px;
  text-align: center;
  padding-top: 30px;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box ul li{
  width: 260px;
  margin: 0 auto;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box ul li:hover{
  background: #ffffff61;
}
.language-nav .language-nav-wrap > .language-nav-wrap-box ul li:hover a{
  color: #000;
}


/* header{display: none;} */
/* section ========================================================================================================================================== */
section.on{padding-top: 152px;}
article{padding-top: 0; transition: 0.5s;}
/* main_1==============================================*/
#m1{position: relative;}
#m1 .center{height: 100%;}
#m1 .contain{width: 100%; height: 100%;}
#m1 .main_slide{width: 100%; height: 100%;}
#m1 .main_slide .swiper-container {
  width: 100%;
  height: 100%;
}
#m1 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}
#m1 .swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;
  top: inherit;
}
#m1 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #2c2a29;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
}
#m1 .swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white,
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white{
  background: none;
}
#m1 .main_slide .swiper-button-next i,
#m1 .main_slide .swiper-button-prev i{font-size: 40px; color: #00000094;}

#m1 .contain-box{
  position: absolute;
  width: 710px;
  height: 420px;
  top: 190px;
  left: 300px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
#m1 .contain-box .box-line{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 690px;
  height: 400px;
  border: 1px solid #bcbec0;
}
#m1 .contain-box .contain-box-text{
  width: 100%;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
}
#m1 .contain-box .contain-box-text h3{
  padding-bottom: 60px;
  font-size: 1.5em;
  font-weight: 500;
}
#m1 .contain-box .contain-box-text span{
  padding-bottom: 10px;
  font-size: 2em;
}
#m1 .contain-box .contain-box-text span strong{
  color: #f00000;
  padding-right: 20px;
}
#m1 .contain-box .box-line > button{
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3em;
  font-weight: 700;
}

#m1 .swiper-pagination-bullet-active{background: #393939;}

/* sub_slide_first */
#m1 .sub_slide_first{
  position: absolute;
  top: 40px;
  right: 110px;
  width: 470px;
  background: none;
  z-index: 2;
}
#m1 .sub_slide_first .sub_slide_text{
  color: #000;
  text-align: center;
}
#m1 .sub_slide_first .sub_slide_text h3{font-weight: 500; font-size: 1.5em;}
#m1 .sub_slide_first .sub_slide_text span{font-size: 1.0em;}
#m1 .sub_slide_first .sub_slide{width: 100%;}
/* #m1 .sub_slide_first .sub_slide .swiper-container{width: 100%; height: 100%;} */
#m1 .sub_slide_first .sub_slide .swiper-slide{
  height: 280px;
  position: relative;
}
#m1 .sub_slide_first .sub_slide .swiper-slide a{
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  color: #000;
}
#m1 .sub_slide_first .sub_slide .swiper-slide a span{font-size: 0.9em;}


/* sub_slide_second */
#m1 .sub_slide_second{
  position: absolute;
  bottom: 40px;
  right: 110px;
  width: 470px;
  background: none;
  z-index: 2;
}
#m1 .sub_slide_second .sub_slide_text{
  color: #000;
  text-align: center;
}
#m1 .sub_slide_second .sub_slide_text h3{font-weight: 500; font-size: 1.5em;}
#m1 .sub_slide_second .sub_slide_text span{font-size: 1.0em;}
#m1 .sub_slide_second .sub_slide{width: 100%;}
#m1 .sub_slide_second .sub_slide .swiper-slide{
  height: 280px;
  position: relative;
}
#m1 .sub_slide_second .sub_slide .swiper-slide a{
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  color: #000;
}
#m1 .sub_slide_second .sub_slide .swiper-slide a span{font-size: 0.9em;}



/* main_2==============================================*/
#m2{position: relative;}
#m2 .center{height: 100%;}
#m2 .contain{width: 100%; height: 100%;}
#m2 .main_slide{width: 100%; height: 100%;}
#m2 .swiper-container {
  width: 100%;
  height: 100%;
}
#m2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}

#m2 .swiper-container-horizontal>.swiper-pagination-progressbar, .swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  width: 100%;
  height: 10px;
  left: 0;
  bottom: 0;
  top: inherit;
}
#m2 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #2c2a29;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: left top;
}

#m2 .swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white,
.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white{
  background: none;
}
#m2 .main_slide .swiper-button-next i,
#m2 .main_slide .swiper-button-prev i{font-size: 40px; color: #00000094;}

#m2 .contain-box{
  position: absolute;
  width: 560px;
  height: 680px;
  top: 50px;
  left: 50px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
#m2 .contain-box .box-line{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 520px;
  height: 640px;
  border: 1px solid #a186be;
}
#m2 .contain-box .contain-box-text{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
}
#m2 .contain-box .contain-box-text span{
  padding-bottom: 10px;
}
#m2 .contain-box .contain-box-img{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
  width: 105px;
  height: 293px;
  overflow: hidden;
}
#m2 .contain-box .contain-box-img img{
  width: 100%;
}
#m2 .contain-box .box-line > span{
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}
#m2 .contain-box .box-line > button{
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3em;
  font-weight: 700;
}

/* main_3==============================================*/
#m3{position: relative;}
#m3 .center{background: #000; height: 100%;}
#m3 .contain{width: 100%; height: 100%;}
#m3 .center .main_3{
  float: left;
  width: 100%;
  color: #fff;
}
#m3 .main_3 .main_3_text{
  width: 700px;
  height: 600px;
  margin: 100px auto;
  border-bottom: 1px solid #fff;
}
#m3 .main_3 .main_3_text h3{
  font-size: 3em;
  font-weight: 200;
}
#m3 .main_3 .main_3_text span:nth-of-type(1){
  margin-top: 30px;
  font-size: 1.4em;
}
#m3 .main_3 .main_3_text p{
  margin-top: 70px;
  font-size: 3.5em;
}
#m3 .main_3 .main_3_text span:nth-of-type(2){
  display: block;
}
#m3 .main_3 .main_3_text button{color: #fff;}

#m3 .center .contain{
  position: relative;
  width: 100%;
  float: right;
}
#m3 .center .contain .video{
  width: 850px;
  height: 600px;
  margin: 100px auto;
  border-bottom: 1px solid #fff;
}
#m3 .center .contain .video iframe{

}
#m3 .center .contain > button{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* main_4==============================================*/
#m4{position: relative; height: 2030px;}
#m4 .contain{height: auto;}
#m4 .content_wrap{width: 100%; height: 2030px;}
#m4 .content_wrap h3{font-size: 2.5em; text-align: center; padding-top: 150px; padding-bottom: 100px;}
#m4 .content_wrap h3::after{
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #000;
}
#m4 .content_wrap .content_item{
  width: 1740px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
#m4 .content_wrap .item_box{
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
  box-shadow: 5px 5px 15px #00000014
}
#m4 .content_wrap .item_box:nth-child(1){ top: 0px; left: 130px;}
#m4 .content_wrap .item_box:nth-child(2){ top: 0px; left: 280px;}
#m4 .content_wrap .item_box:nth-child(3){ top: -320px; left: 70px;}
#m4 .content_wrap .item_box:nth-child(4){ top: -320px; left: 130px;}
#m4 .content_wrap .item_box:nth-child(5){ top: 72px; left: -212px;}
#m4 .content_wrap .item_box:nth-child(6){ top: -200px; left: 500px;}
#m4 .content_wrap .item_box:nth-child(7){ top: -250px; left: -310px;}
#m4 .content_wrap .item_box:nth-child(8){ top: -560px; left: 1050px;}
#m4 .content_wrap .item_box .item_wrap{ overflow: hidden;}
#m4 .content_wrap .item_box .text_desc{
  padding-bottom: 20px;
  font-size: 1.2em;
}
#m4 .content_wrap .item_box .price{
  font-size: 1.3em; font-weight: 700;
}

/* ranking_box1 ------------------*/
#m4 .content_wrap .item_box .ranking_box1{
  width: 670px; height: 270px; border: 1px solid #000;
  overflow: hidden; box-sizing: border-box;
}
#m4 .content_wrap .item_box .ranking_box1 .item_wrap .inner .img_wrap{
  display: inline-block;
  width: 40%;
  float: left;
}
#m4 .content_wrap .item_box .ranking_box1 .item_wrap .summary_info{
  display: inline-block;
  color: #000;
  width: 60%;
  text-align: center;
}
#m4 .content_wrap .item_box .ranking_box1 .item_wrap .summary_info .txt_wrap{ margin-top: 60px;}
#m4 .content_wrap .item_box .ranking_box1 .item_wrap .summary_info .txt_wrap p{ display: inline-block;}
#m4 .content_wrap .item_box .ranking_box1 .item_wrap .summary_info .txt_wrap .title{
  font-size: 1.5em; font-weight: 700; padding-bottom: 30px;}
#m4 .content_wrap .item_box .ranking_box1 .item_wrap .summary_info .txt_wrap .price{display: block;}

/* .ranking_box1  button */
#m4 .content_wrap .item_box .ranking_box1 .item_detail{
  position: absolute; top: 0; width: 670px; height: 270px; background: #000000c4;
  line-height: 270px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box1 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}

/* ranking_box2 ----------------- */
#m4 .content_wrap .item_box .ranking_box2{
  width: 680px; height: 650px; border: 1px solid #000; box-sizing: border-box;
}
#m4 .content_wrap .item_box .ranking_box2 .item_wrap .inner .img_wrap{
  width: 60%;
  display: block;
  margin: 0 auto;
}
#m4 .content_wrap .item_box .ranking_box2 .item_wrap .summary_info{
  display: inline-block;
  color: #000;
  width: 100%;
  text-align: center;
}
#m4 .content_wrap .item_box .ranking_box2 .item_wrap .summary_info .txt_wrap{ margin-top: 30px;}
#m4 .content_wrap .item_box .ranking_box2 .item_wrap .summary_info .txt_wrap .title{
  font-size: 1.5em; font-weight: 700; padding-bottom: 30px;}
#m4 .content_wrap .item_box .ranking_box2 .item_wrap .summary_info .txt_wrap .title strong{color: red;}

/* .ranking_box2  button */
#m4 .content_wrap .item_box .ranking_box2 .item_detail{
  position: absolute; top: 0; width: 680px; height: 650px; background: #000000c4;
  line-height: 650px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box2 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}

/* ranking_box3 ------------------*/
#m4 .content_wrap .item_box .ranking_box3{
  width: 420px; height: 730px; border: 1px solid #000; box-sizing: border-box;
}
#m4 .content_wrap .item_box .ranking_box3 .item_wrap .inner .img_wrap{
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}
#m4 .content_wrap .item_box .ranking_box3 .item_wrap .summary_info{
  display: block;
  color: #000;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#m4 .content_wrap .item_box .ranking_box3 .item_wrap .summary_info .txt_wrap{ margin-top: 40px;}
#m4 .content_wrap .item_box .ranking_box3 .item_wrap .summary_info .txt_wrap .title{
  font-size: 1.4em; font-weight: 700; padding-bottom: 30px;}

/* .ranking_box3  button */
#m4 .content_wrap .item_box .ranking_box3 .item_detail{
  position: absolute; top: 0; width: 420px; height: 730px; background: #000000c4;
  line-height: 730px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box3 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}

/* ranking_box4 ------------------*/
#m4 .content_wrap .item_box .ranking_box4{
  width: 340px; height: 340px; border: 1px solid #000; box-sizing: border-box;
}
/* .ranking_box4  button */
#m4 .content_wrap .item_box .ranking_box4 .item_detail{
  position: absolute; top: 0; width: 340px; height: 340px; background: #000000c4;
  line-height: 340px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box4 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}


/* ranking_box5 ------------------*/
#m4 .content_wrap .item_box .ranking_box5{
  width: 650px; height: 300px; border: 1px solid #000; box-sizing: border-box;
}
#m4 .content_wrap .item_box .ranking_box5 .item_wrap .inner .img_wrap{
  display: inline-block;
  width: 45%;
  float: left;
}
#m4 .content_wrap .item_box .ranking_box5 .item_wrap .ineer .img_wrap img{}
#m4 .content_wrap .item_box .ranking_box5 .item_wrap .summary_info{
  display: inline-block;
  color: #000;
  width: 55%;
  text-align: center;
}
#m4 .content_wrap .item_box .ranking_box5 .item_wrap .summary_info .txt_wrap{
  margin-top: 60px;
  display: block;
  width: 290px;
}
#m4 .content_wrap .item_box .ranking_box5 .item_wrap .summary_info .txt_wrap p{ display: inline-block;}
#m4 .content_wrap .item_box .ranking_box5 .item_wrap .summary_info .txt_wrap .title{
  font-size: 1.5em; font-weight: 700; padding-bottom: 30px;}
#m4 .content_wrap .item_box .ranking_box5 .item_wrap .summary_info .txt_wrap .price{display: block;}

/* .ranking_box5  button */
#m4 .content_wrap .item_box .ranking_box5 .item_detail{
  position: absolute; top: 0; width: 650px; height: 300px; background: #000000c4;
  line-height: 300px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box5 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}

/* ranking_box6 ------------------*/
#m4 .content_wrap .item_box .ranking_box6{
  width: 400px; height: 420px; border: 1px solid #000; box-sizing: border-box;
}
#m4 .content_wrap .item_box .ranking_box6 .summary_info{
  display: none;
}
/* .ranking_box6  button */
#m4 .content_wrap .item_box .ranking_box6 .item_detail{
  position: absolute; top: 0; width: 400px; height: 420px; background: #000000c4;
  line-height: 420px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box6 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}


/* ranking_box7 ------------------*/
#m4 .content_wrap .item_box .ranking_box7{
  width: 880px; height: 410px; border: 1px solid #000; box-sizing: border-box;
}
#m4 .content_wrap .item_box .ranking_box7 .item_wrap .inner .img_wrap{
  display: inline-block;
  width: 45%;
  float: right;
}
#m4 .content_wrap .item_box .ranking_box7 .item_wrap .summary_info{
  display: inline-block;
  color: #000;
  width: 55%;
  text-align: center;
}
#m4 .content_wrap .item_box .ranking_box7 .item_wrap .summary_info .txt_wrap{
  margin-top: 130px;
  display: block;
}
#m4 .content_wrap .item_box .ranking_box7 .item_wrap .summary_info .txt_wrap p{ display: inline-block;}
#m4 .content_wrap .item_box .ranking_box7 .item_wrap .summary_info .txt_wrap .title{
  font-size: 1.5em; font-weight: 700; padding-bottom: 30px;}
#m4 .content_wrap .item_box .ranking_box7 .item_wrap .summary_info .txt_wrap .price{display: block;}

/* .ranking_box7  button */
#m4 .content_wrap .item_box .ranking_box7 .item_detail{
  position: absolute; top: 0; width: 880px; height: 410px; background: #000000c4;
  line-height: 410px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box7 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}

/* ranking_box8 ------------------*/
#m4 .content_wrap .item_box .ranking_box8{
  width: 600px; height: 290px; border: 1px solid #000; box-sizing: border-box;
}
#m4 .content_wrap .item_box .ranking_box8 .item_wrap .inner .img_wrap{
  display: inline-block;
  width: 40%;
  float: left;
  padding-top: 20px;
}
#m4 .content_wrap .item_box .ranking_box8 .item_wrap .summary_info{
  display: inline-block;
  color: #000;
  width: 55%;
  text-align: center;
}
#m4 .content_wrap .item_box .ranking_box8 .item_wrap .summary_info .txt_wrap{
  margin-top: 80px;
  display: block;
}
#m4 .content_wrap .item_box .ranking_box8 .item_wrap .summary_info .txt_wrap p{ display: inline-block;}
#m4 .content_wrap .item_box .ranking_box8 .item_wrap .summary_info .txt_wrap .title{
  font-size: 1.5em; font-weight: 700; padding-bottom: 30px;}
#m4 .content_wrap .item_box .ranking_box8 .item_wrap .summary_info .txt_wrap .price{display: block;}

/* .ranking_box8  button */
#m4 .content_wrap .item_box .ranking_box8 .item_detail{
  position: absolute; top: 0; width: 600px; height: 290px; background: #000000c4;
  line-height: 290px; text-align: center; opacity: 0; transition: 0.5s;
}
#m4 .content_wrap .item_box .ranking_box8 .item_detail .detail_wrap button{
  background: #000; color: #fff; width: 200px; height: 80px; margin: 0 auto;
  font-size: 1.3em; font-weight: 700;
}

#m4 .content_wrap .item_box:hover .item_detail{opacity: 1;}


/* content_wrap_bottom */
#m4 .contain .content_wrap_bottom{
  position: absolute;
  bottom: 0;
  height: 120px;
  text-align: center;
  line-height: 120px;
}
#m4 .contain .content_wrap_bottom .content_wrap_bottom-box{
  width: 1740px;
  border-top: 1px solid #000;
  margin: 0 auto;
}
#m4 .contain .content_wrap_bottom .content_wrap_bottom-box button{
  font-size: 1.2em;
  font-weight: 700;
}
#m4 .contain .content_wrap_bottom .content_wrap_bottom-box button i{
  color: #000;
  position: absolute;
  padding-left: 20px;
  font-size: 1.3em;
  font-weight: 600;
}

/* 퀵뷰 팝업 하단에 배치 */


/* main_5==============================================*/
#m5{position: relative; height: 800px; }
#m5 .contain{background: #000; height: 800px;}
#m5 .contain .find_store_event_news{}
#m5 .contain .find_store_event_news h3{color: #fff; font-size: 1.5em;}
#m5 .contain .find_store_event_news h3::after{
  content: '';
  display: block;
  width: 60px;
  border-bottom: 3px solid #fff;
  margin: 0 auto;
  padding-top: 20px;
}
#m5 .contain .find_store_event_news span{color: #fff; margin-top: 30px;}

/* find_store */
#m5 .contain .find_store_event_news .find_store{
  width: 100%;
  text-align: center;
  padding: 60px 0 0 0;
}
#m5 .contain .find_store_event_news .find_store .find_store_box{
  width: 80%;
  text-align: center;
  padding: 60px 0 0 0;
  margin: 0 auto;
}
#m5 .contain .find_store_event_news .find_store_box form{
  width: 100%;
  position: relative;
  overflow: hidden;
}
#m5 .contain .find_store_event_news .find_store_box form input{
  width: 85%;
  height: 40px;
  background: none;
  float: left;
  padding: 0 20px;
  color: #fff;
}
#m5 .contain .find_store_event_news .find_store_box form button{
  width: 110px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0px;
  background: #fff;
}
#m5 .contain .find_store_event_news .find_store_box form button i{ color: #000;}
#m5 .contain .find_store_event_news .find_store_box iframe{ width: 100%; padding-top: 30px;}

/* event_news-box */
#m5 .contain .find_store_event_news .event_news-box{
  width: 80%;
  text-align: center;
  padding: 60px 0 0 0;
  margin: 0 auto;
}
#m5 .contain .find_store_event_news .event_news-box_slide{
  position: relative;
  width: 512px;
  height: auto;
  margin-top: 60px;
}
#m5 .contain .find_store_event_news .event_news-box_slide .swiper-slide{
  border-radius: 50%;
  background: #fff;
  height: 500px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: cover;
}
#m5 .contain .find_store_event_news .event_news-box_slide .swiper-slide a{
  display: block;
  border-radius: 50%;
  background: #00000070;
  height: 500px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
}
#m5 .contain .find_store_event_news .event_news-box_slide .swiper-slide a span{
  padding-top: 100px;
  font-size: 1.5em;
  color: #fff;
}
#m5 .contain .find_store_event_news .event_news-box_slide .swiper-slide a h4{
  color: #fff;
  font-size: 2em;
  margin: 0 auto;
  width: 300px;
  padding-top: 50px;
}

#m5 .contain .find_store_event_news .event_news-box_slide .swiper-slide:hover a{
  opacity: 1;
}
#m5 .event_news-box .event_news-box_slide span{color: #000;}
#m5 .event_news-box .event_news-box_slide .swiper-button-next i,
#m5 .event_news-box .event_news-box_slide .swiper-button-prev i{
  font-size: 3em; color: #3a3a3a;
}
#m5 .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background: none;
  right: 15px;
}
#m5 .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background: none;
  left: 0;
}

/* main_6==============================================*/
#m6{position: relative; height: 800px; }
#m6 .contain{height: 800px;}
#m6 .contain .sns_contents{}
#m6 .contain .sns_contents .sns_contents-box{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
#m6 .contain .sns_contents .sns_contents-box h3{font-size: 2em; margin-top: 130px;}
#m6 .contain .sns_contents .sns_contents-box h3::after{
  content: '';
  display: block;
  width: 60px;
  border-bottom: 3px solid #000;
  margin: 0 auto;
  padding-top: 20px;
}
#m6 .contain .sns_contents .sns_contents-box span{ display: block; margin-top: 40px;}
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide{
  height: 100%; margin: 0 auto; padding-top: 80px; overflow: hidden;
}
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide .slide6{width: 1020px; margin: auto;}
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide .slide6 ul{position: relative; overflow: hidden;}
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide .slide6 ul li{
  position: relative;
  width: 300px; float: left;  padding: 0 15px;
}
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide .slide6 ul li img{display: block; }
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide .slide6 ul li a{
  position: absolute; top:0; left:15px; right:15px;
  height: 100%;
  display: block;
  background: #00000080;
  opacity: 0;
  transition: 0.5s;
}
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide .slide6 ul li i{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6em;
}
#m6 .contain .sns_contents .sns_contents-box .sns-box_slide .slide6 ul li:hover a{
  opacity: 1;
}
/* footer =================================================================== */
#footer{position: relative; height: 800px; background: #000;}
#footer .information{height: 415px;}
#footer .information h3{color: #fff; margin-bottom: 40px;}
#footer .information .information-wrap{margin-top: 80px;}
#footer .information .information-wrap .information-wrap-box{color: #fff; padding: 0 70px;}
#footer .information .information-wrap .information-wrap-box li{position: relative; padding-bottom: 25px;}
#footer .information .information-wrap .information-wrap-box li i{position: absolute;}
#footer .information .information-wrap .information-wrap-box li a{display: inline-block; padding-left: 34px;}

#footer .information .information-box{
  padding: 80px;
  color: #fff;
  border-left: 1px solid #ffffff36;
}
#footer .information .information-box ul{}
#footer .information .information-box ul li{position: relative; padding-bottom: 25px;}
#footer .information .information-box ul li i{position: absolute;}
#footer .information .information-box ul li a{display: inline-block; padding-left: 34px;}

#footer .footer-logo{
  width: 100%; height: 100px;
  margin: 0 auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  box-sizing: border-box;
  position: relative;
 }
#footer .footer-logo img{
  width: 300px; height: 44px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#footer .footer-sns-icons{width: 100%; height: 150px; position: relative;}
#footer .footer-sns-icons ul{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer .footer-sns-icons ul li{
  width: 50px; height: 50px;
  background: #fff;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 50px;
  position: relative;
}
#footer .footer-sns-icons ul li:first-child{margin-left: 0;}
#footer .footer-sns-icons ul li a{}
#footer .footer-sns-icons ul li img{
  width: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#footer .footer-sns-icons ul li:nth-child(1):hover{
  background: #3c5a9a;
}
#footer .footer-sns-icons ul li:nth-child(2):hover{
  background: #2aa9e0;
}
#footer .footer-sns-icons ul li:nth-child(3):hover{
  background: #ff0084; /* Old browsers */
  background: -moz-linear-gradient(left, #ff0084 0%, #96b3d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff0084 0%,#96b3d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff0084 0%,#96b3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#96b3d3',GradientType=1 ); /* IE6-9 */
}
#footer .footer-sns-icons ul li:nth-child(4):hover{
  background: #f00;
}

#footer .footer-copy{width: 100%; color: #fff; text-align: center;}



/* login_popup ============================================================== */
#login_popup{
  width: 610px;
  height: 670px;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  z-index: 3;
  display: none;
}
#login_popup .login_wrap{margin-top: 30px;}
#login_popup .login_wrap .login_wrap_line{
  width: 570px;
  height: 610px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 auto;
}
#login_popup .login_wrap .login_wrap_line > button{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
}
#login_popup .login_wrap .login_wrap_line > button i{
  font-size: 2.5em;
}
#login_popup .login_wrap .login_wrap_line .login_box{
  width: 530px;
  height: 540px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  margin-top: 70px;
}
#login_popup .login_wrap .login_wrap_line .login_box h3{
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.1em;
}
#login_popup .login_wrap .login_wrap_line .login_box h3::after{
  content: '';
  position: absolute;
  display: block;
  width: 530px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #fff;
  margin-top: 20px;
}
#login_popup .login_wrap .login_wrap_line .login_box span{
  color: #fff;
  margin-top: 40px;
}
#login_popup .login_wrap .login_wrap_line .login_box form{
  height: 300px;
  padding: 45px;
  text-align: center;
}
#login_popup .login_wrap .login_wrap_line .login_box form .message{
  color:#f00;
  font-size: 12px;
  padding-bottom: 15px;
}

/* form .id */
#login_popup .login_wrap .login_wrap_line .login_box form .id{
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-bottom: 30px;
}
#login_popup .login_wrap .login_wrap_line .login_box form .id i{
  font-size: 2.5em;
  float: left;
}
#login_popup .login_wrap .login_wrap_line .login_box form .id input{
  background: transparent;
  width: 87%;
  height: 45px;
  border: 1px solid #fff;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  font-size: 14px;
  float: right;
  color: #fff;
}

/* form .password */
#login_popup .login_wrap .login_wrap_line .login_box form .password{
  width: 100%;
  height: 45px;
  margin-bottom: 50px;
}
#login_popup .login_wrap .login_wrap_line .login_box form .password i{
  font-size: 2.5em;
  float: left;
}
#login_popup .login_wrap .login_wrap_line .login_box form .password input{
  background: transparent;
  width: 87%;
  height: 45px;
  border: 1px solid #fff;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  font-size: 14px;
  float: right;
  color: #fff;
}
#login_popup .login_wrap .login_wrap_line .login_box form button{
  background: #fff;
  width:100%;
  border:0;
  padding:15px;
  color:#000;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 1s;
  margin-bottom: 30px;
}
#login_popup .login_wrap .login_wrap_line .login_box form button:hover{
  background: #bcbec0;
  color: #fff;
}
#login_popup .login_wrap .login_wrap_line .login_box .find-info{color: #fff;}
#login_popup .login_wrap .login_wrap_line .login_box .find-info a{
  padding-left: 5px;
}
#login_popup .login_wrap .login_wrap_line .login_box .find-info i{
  position: relative;
  left: -5px;
  top: 5px;
}


/* search_popup ============================================================= */
#search_popup{
  width: 610px;
  height: 670px;
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  z-index: 3;
  display: none;
}
#search_popup .search_wrap{ margin-top: 30px;}
#search_popup .search_wrap .search_wrap_line{
  width: 570px;
  height: 610px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 auto;
}
#search_popup .search_wrap .search_wrap_line > button{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
}
#search_popup .search_wrap .search_wrap_line > button i{
  font-size: 2.5em;
}
#search_popup .search_wrap .search_wrap_line .search_box{
  width: 530px;
  height: 540px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  margin-top: 70px;
}
#search_popup .search_wrap .search_wrap_line .search_box h3{
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.1em;
}
#search_popup .search_wrap .search_wrap_line .search_box h3::after{
  content: '';
  position: absolute;
  display: block;
  width: 530px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #fff;
  margin-top: 20px;
}
#search_popup .search_wrap .search_wrap_line .search_box .tag{
  margin-top: 50px;
  width: 100%;
  height: 20px;
}
#search_popup .search_wrap .search_wrap_line .search_box a{
  padding: 0 18px;
}
#search_popup .search_wrap .search_wrap_line .search_box form{
  width: 530px;
  height: 50px;
  margin-top: 40px;
  position: relative;
}
#search_popup .search_wrap .search_wrap_line .search_box form input{
  width: 530px;
  height: 50px;
  box-sizing: border-box;
  background: transparent;
  padding-left: 10px;
  padding-right: 60px;
  color: #fff;
}
#search_popup .search_wrap .search_wrap_line .search_box form button{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
}
#search_popup .search_wrap .search_wrap_line .search_box form button i{ font-size: 2em;}
#search_popup .search_wrap .search_wrap_line .search_box .rolling{
  margin-top: 30px;
  width: 100%;
  height: 270px;
  overflow: hidden;
}
#search_popup .search_wrap .search_wrap_line .search_box .rolling ul{
  position: relative;
  width: 100%;
  height: 270px;
}
#search_popup .search_wrap .search_wrap_line .search_box .rolling ul::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url(../img/bg_schRollingT.png) repeat-x 0 top;
}
#search_popup .search_wrap .search_wrap_line .search_box .rolling ul::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: url(../img/bg_schRollingB.png) repeat-x 0 top;
  z-index: 2;
}
#search_popup .search_wrap .search_wrap_line .search_box .rolling ul li{
  margin: 10px auto;
}
#search_popup .search_wrap .search_wrap_line .search_box .rolling ul li:nth-child(5) a{
  font-size: 1.5em;
  opacity: 1;
}
#search_popup .search_wrap .search_wrap_line .search_box .rolling ul li a{
  opacity: 0.5;
}



/* Quick View - m4_popup ========================================================= */
#m4_popup{
  width: 1180px;
  height: 690px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 3;
  display: none;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line{
  width: 1140px;
  margin: 20px auto;
  height: 650px;
  border: 1px solid #bcbec0;
  box-sizing: border-box;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line > button{
  position: absolute;
  right: 40px;
  top: 40px;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line > button i{ color: #000;}


/* m4_popup_imgbox */
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_imgbox{
  width: 430px;
  height: 530px;
  margin: 60px auto;
  overflow: hidden;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_imgbox .m4_popup_slide .swiper-slide{
  height: 410px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_imgbox .m4_popupimg-list{
  width: 100%;
  margin-top: 20px;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_imgbox .m4_popupimg-list ul li{
  width: 100px;
  height: 100px;
  float: left;
  background: #fff;
  margin-right: 10px;
  box-sizing: border-box;
  border: 1px solid #bcbec0;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_imgbox .m4_popupimg-list ul li:last-child{
  margin-right: 0;
}
#m4_popup .line{
  border-right: 1px solid #bcbec0;
  position: absolute;
  top: 80px;
  height: 530px;
  display: inline-block;
 }


/* m4_popup_titlebox */
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox{
  width: 430px;
  height: 530px;
  margin: 60px auto;
  overflow: hidden;
  color: #000;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox h3{
  font-size: 1.5em;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .s1{
  margin-top: 40px;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox p{
  margin-top: 20px; font-size: 0.8em;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox strong{
  margin-top: 30px;
  display: block;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .select_1{
  margin-top: 30px;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .select_1 select{
  width: 390px;
  height: 40px;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .select_2{
  margin-top: 30px;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .select_2 select{
  width: 150px;
  height: 40px;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .learn_more{
  margin-top: 30px;
  color: #000;
  font-size: 0.8em;
  text-decoration: underline;
  display: block;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .find_store{
  margin-top: 30px;
  width: 200px; height: 60px;
  background: #bcbec0;
  color: #fff;
  display: block;
  float: left;
}
#m4_popup .m4_popup_wrap .m4_popup_wrap_line .m4_popup_titlebox .buying{
  margin-top: 30px;
  width: 200px; height: 60px;
  background: #000;
  color: #fff;
  float: right;
}


/* 풋터(전체)네비게이션 ========================================================*/
#footer-nav{
  display: none;
  width: 400px;
  height: 60px;
  background: #000000a8;
  z-index: 333;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#footer-nav .box ul{
  width: 270px;
  height: 30px;
  margin: 15px auto;
}
#footer-nav .box ul li{
  width: 30px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  margin-right: 10px;
}
#footer-nav .box ul li:last-child{
  margin-right: 0;
}
#footer-nav .box ul li a{
  color: #fff;
  font-size: 1.5em;
}
#footer-nav .box ul li.active{background: #e3aa00;}
