@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese');
*{margin:0;padding:0;}
ul,li{list-style-type:none; list-style-image: none; }
i{color: #fff;}
a{text-decoration: none; color:#444; cursor: pointer;}
img{vertical-align: text-top; border: 0;}
label, span{display: inline-block;}
button{border: 0; background: none; outline: none; cursor: pointer;}
body{font-family: 'Noto Sans', sans-serif; width: 100%;}
.skip{font-size: 0; text-indent: -9999px; position: absolute; left: -9999px;}
.center{width: 100%; margin: auto; position: relative;}

#skipnav{
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  position: absolute;
  top: -9999px;
}

#wrap{
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

header{
  z-index: 8;
  width: 100%;
  height: 110px;
  background: #000;
}
header .head{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
header .head .icons{
  position: relative;
  top: 20px;
  margin: 0 20px;
}
header .head .icons i{ font-size: 1.8em;}

header .head .icons .menu{
  position: absolute;
  top: -2px;
  height: 28px;
}
header .head .icons .menu i{ font-size: 1.8em;}
header .head .icons .location_on{
  position: absolute;
  right: 80px;
  height: 28px;
}
header .head .icons .search{
  position: absolute;
  right: 35px;
  height: 28px;
}
header .head .icons .search i{
  font-size: 2.0em;
  margin-top: -2px;

}
header .head .icons .language{
  position: absolute;
  top: -4px;
  right: 0;
  font-size: 1.1em;
  color: #fff;
  height: 28px;
}
header .head .icons .language i{
  font-size: 2em;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: -5px;
}
header h1{
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 3px;
  text-align: center;
}
header h1 img{
  height: 70%;
}

.gnbWrap{
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
#dimBg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: rgba(0,0,0,0.6);
  display: block;
  width: 100%;
  height: 100%;
}
.gnbWrap .gnb{
  position: absolute;
  left: 0;
  top: 0;
  width: 85%;
  height: 100%;
  background: #000;
  overflow-y: auto;
}
.gnbWrap .gnb h1{
  width: 100%;
  text-align: center;
  margin: 30px auto;
}
.gnbWrap .gnb h1 a{
  display: block;
  width: 60%;
  margin: 0 auto;
}
.gnbWrap .gnb h1 img{
  width: 100%;
  padding-top: 10px;
}

/* login button */
.gnbWrap .gnb .login{
  width: 80%;
  height: 180px;
  border: 1px solid #fff;
  margin: 0 auto;
  text-align: center;
}
.gnbWrap .gnb .login a{
  width: 50%;
  height: 55px;
  background: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  line-height: 55px;
}
.gnbWrap .gnb .login a span{
  font-size: 1.1em;
  font-weight: 700;
}
.gnbWrap .gnb .login > span{
  display: block;
  margin: 0 20px;
  margin-top: 25px;
  color: #fff;
}


/* nav */
#nav{ display: block;}
#nav .navList{}
#nav .navList > li{
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-top: 50px;
}
#nav .navList > li:first-child{}
#nav .navList > li > a{
  font-size: 1.4em;
  color: #fff;
}
#nav .navList > li > a > i{
  float: right;
  font-size: 1.5em;
}
#nav .reservMU{
  width: 80%;
  height: 60px;
  border: 1px solid #fff;
  margin: 50px auto;
  color: #fff;
  text-align: center;
}
#nav .reservMU a{line-height: 60px;}
#nav .reservMU a span{
  color: #fff;
  padding: 0 20px;
}

/* nav - 2depth*/
#nav .navList > li .depth2{
  display: none;
  border-top: 1px solid #fff;
}
#nav .navList > li .depth2 li{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
#nav .navList > li .depth2 li:nth-child(1){
  margin-top: 20px;
}
#nav .navList > li .depth2 li a{
  color: #fff;
  width: 100%;
  font-size: 1.1em;
}
#nav .navList > li .depth2 li a i{
  color: #fff;
  font-size: 1.2em;
  position: absolute;
}
#nav .navList > li .depth2 li a span{
  padding-left: 20px;
}
#nav .navList > li .depth2 li a i:last-child{
  position: absolute;
  right: 0;
}

/* nav - 3depth*/
#nav .navList > li .depth3{
  display: none;
}
#nav .navList > li .depth3 li{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.0em;
}
#nav .navList > li .depth3 li:nth-child(1){
  margin-top: 20px;
}
#nav .navList > li .depth3 li a{
  color: #fff;
  width: 100%;
}
#nav .navList > li .depth3 li a i{
  color: #fff;
  font-size: 1.2em;
  position: absolute;
}
#nav .navList > li .depth3 li a span{
  padding-left: 20px;
}

.gnbWrap button{
  position: absolute;
  right: 15px;
  top: 27px;
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
}
.gnbWrap button i{font-size: 2em;}

.dimmed{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0,0,0,.9);
}

/* container_main =========================================================== */
#container_main{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  background: #2a2a2a26;
}
#container_main .tab{
  width: 100%;
  height: 40px;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
  background: #fff;
}
#container_main .tab .m_left{
  width: 50%;
  float: left;
}
#container_main .tab .m_left span{
  width: 100%;
  border-top: 3px solid #000;
  display: block;
  box-sizing: border-box;
}
#container_main .tab .m_left a{
  display: block;
  margin: 5px auto;
  font-size: 1.0em;
  text-align: center;
  border-right: 1px solid #0000001c;
}
#container_main .tab .s_right{
  width: 50%;
  float: right;
}
#container_main .tab .s_right span{
  width: 100%;
  border-top: 3px solid #fff;
  display: block;
  box-sizing: border-box;
}
#container_main .tab .s_right a{
  display: block;
  margin: 5px auto;
  font-size: 1.0em;
  text-align: center;
}

/* section m1 =============================================================== */
#m1 .rollingArea .rolling_imglist .swiper-wrapper .swiper-slide img{width: 100%;}
#m1 .swiper-pagination-bullet{
  width: 16px;
  height: 16px;
  border: 1px solid #444;
}
#m1 .swiper-pagination-bullet-active{
  opacity: 1;
  background: #444;
  width: 25px;
  height: 16px;
  border-radius: 15px;
  transition: 0.3s;
}

/* mini_nav ================================================================= */
#m1 .mini_nav{
  margin-top: 10px;
  width: 100%;
  height: 70px;
  background: #fff;
}
#m1 .mini_nav ul li{
  width: 25%;
  height: 60px;
  float: left;
  margin: 10px auto;
  text-align: center;
}
#m1 .mini_nav ul li a{color: #000;}
#m1 .mini_nav ul li img{
  width: 45px;
  margin-top: 9px;
}
#m1 .mini_nav ul li i{
  color: #000;
  font-size: 2.2em;
}
#m1 .mini_nav ul li span{
  display: block;
  margin-top: -5px;
  font-size: 0.8em;
}
#m1 .mini_nav ul li:nth-child(1) span{
  margin-top: 4px;
}

/* rolling_newitem ========================================================== */
#m1 .rolling_newitem{
  width: 100%;
  background: #fff;
  margin-top: 10px;
  text-align: center;
}
#m1 .rolling_newitem .rolling_newitem_text h3{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.3em;
  font-weight: 500;
  position: relative;
}
#m1 .rolling_newitem .rolling_newitem_text h3::after{
  content: '';
  width: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #000;
}
#m1 .rolling_newitem .rolling_newitem_imglist .swiper-slide a img{ width: 90%;}
#m1 .rolling_newitem .rolling_newitem_imglist .swiper-slide a span{
  font-size: 0.8em;
  width: 110px;
  padding-bottom: 80px;
}
#m1 .swiper-button-next, .swiper-button-prev{
  top: 35%;
}
#m1 .swiper-button-next, .swiper-container-rtl .swiper-button-prev,
#m1 .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background-image: none;
  outline: none;
}
#m1 .rolling_newitem .rolling_newitem_imglist .swiper-button-prev i{
  color: #444444ab;
  font-size: 3em;
  position: relative;
  left: -15px;
}
#m1 .rolling_newitem .rolling_newitem_imglist .swiper-button-next i{
  color: #444444ab;
  font-size: 3em;
  position: relative;
  right: 5px;
}
#m1 .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 10px;
}
#m1 .rolling_newitem .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  border: 1px solid #444;
}
#m1 .rolling_newitem .swiper-pagination-bullet-active{
  opacity: 1;
  background: #444;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: 0.3s;
}

/* rolling_bestitem ========================================================= */
#m1 .rolling_bestitem{
  width: 100%;
  background: #fff;
  margin-top: 10px;
  text-align: center;
}
#m1 .rolling_bestitem .rolling_bestitem_text h3{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.3em;
  font-weight: 500;
  position: relative;
}
#m1 .rolling_bestitem .rolling_bestitem_text h3::after{
content: '';
width: 30px;
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
border-bottom: 3px solid #000;
}
#m1 .rolling_bestitem .rolling_bestitem_imglist .swiper-slide a img{ width: 90%;}
#m1 .rolling_bestitem .rolling_bestitem_imglist .swiper-slide a span{
  font-size: 0.8em;
  width: 110px;
  padding-bottom: 50px;
}
#m1 .swiper-button-next, .swiper-button-prev{
  top: 35%;
}
#m1 .swiper-button-next, .swiper-container-rtl .swiper-button-prev,
#m1 .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  background-image: none;
  outline: none;
}
#m1 .rolling_bestitem .rolling_bestitem_imglist .swiper-button-prev i{
  color: #444444ab;
  font-size: 3em;
  position: relative;
  left: -15px;
}
#m1 .rolling_bestitem .rolling_bestitem_imglist .swiper-button-next i{
  color: #444444ab;
  font-size: 3em;
  position: relative;
  right: 5px;
}
#m1 .rolling_bestitem .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  border: 1px solid #444;
}
#m1 .rolling_bestitem .swiper-pagination-bullet-active{
  opacity: 1;
  background: #444;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transition: 0.3s;
}

/* section m2 =============================================================== */
#m2 .video{
  margin-top: 10px;
  overflow: hidden;
}
#m2 .video iframe{
  width: 100%;
  height: 200px;
}

/* section m3 =============================================================== */
#m3{}
#m3 .ranking_box{
  width: 100%;
  background: #fff;
  margin-top: 10px;
  text-align: center;
  position: relative;
}
#m3 .ranking_box .ranking_box_text{}
#m3 .ranking_box .ranking_box_text h3{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
}
#m3 .ranking_box .ranking_box_text h3::after{
  content: '';
  width: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #000;
}
#m3 .ranking_box .ranking_box_imglist{
  top: 40px;
  margin: 0 30px;
  padding-bottom: 100px;
}
#m3 .ranking_box .ranking_box_imglist .swiper-slide img{ width: 100%;}
#m3 .ranking_box .ranking_box_imglist .swiper-slide span{
  display: block;
  margin-top: 10px;
  font-size: 1.0em;
}
#m3 .ranking_box .ranking_box_imglist .swiper-slide strong{
  display: inline-block;
  width: 41px;
  height: 26px;
  color: #fff;
  background: #e27173;
}
#m3 .ranking_box button{
  position: absolute;
  top: 90px;
  right: 25px;
  font-size: 1.0em;
}
#m3 .swiper-container-horizontal>.swiper-scrollbar{
  bottom: 60px;
}
